<?php

use luya\helpers\Url;
?>

    <div class="elementor-widget-container">
        <div class="klb-section">
            <div class="container">
            <div class="heading_s3 text-center">
                                <h2>Exclusive Products</h2>
                            </div>
                            <div class="small_divider clearfix"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row shop_container">
                           
                            <div class="col-lg-3  col-md-4 mobile-column-1">
                                <div class="klb-product2 product_box text-center">
                                    <div class="product_img"><a href="http://luyacore.local/bakery/product/itaque-earum-rerum/"><img decoding="async" src="<?= Url::to('assets/images/bakery_insta1.jpg'); ?>" alt="Itaque Earum Rerum"></a>
                                        <div class="product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li>
                                                    <div class="woocommerce product compare-button"><a href="http://luyacore.local/bakery?action=yith-woocompare-add-product&amp;id=44" class="compare button" data-product_id="44" rel="nofollow">Compare</a></div>
                                                </li>
                                                <li><a href="44" class="button detail-bnt"><i class="icon-magnifier-add"></i></a></li>
                                                <li>
                                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-the_content" data-tinvwl_product_id="44">
                                                        <div class="tinv-wishlist-clear"></div><a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after" data-tinv-wl-list="[]" data-tinv-wl-product="44" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="addto"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                        <div class="tinv-wishlist-clear"></div>
                                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_info">
                                        <h6 class="product_title"><a href="http://luyacore.local/bakery/product/itaque-earum-rerum/">Itaque Earum Rerum</a></h6>
                                        <div class="product_price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>95.00</bdi></span></del> <span class="screen-reader-text">Original price was: $95.00.</span><ins aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>50.00</bdi></span></ins><span class="screen-reader-text">Current price is: $50.00.</span></div>
                                        <div class="rating_wrap">
                                            <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div><span class="rating_num">(1)</span>
                                        </div>
                                        <div class="pr_desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                        </div>
                                        <div class="list_product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a href="?add-to-cart=44" aria-describedby="woocommerce_loop_add_to_cart_link_describedby_44" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="44" data-product_sku="BE45VGRT" aria-label="Add to cart: “Itaque Earum Rerum”" rel="nofollow">Add to cart</a><span id="woocommerce_loop_add_to_cart_link_describedby_44" class="screen-reader-text">
                                                    </span>
                                                </li>
                                                <li>
                                                    <div class="woocommerce product compare-button"><a href="http://luyacore.local/bakery?action=yith-woocompare-add-product&amp;id=44" class="compare button" data-product_id="44" rel="nofollow">Compare</a></div>
                                                </li>
                                                <li><a href="44" class="button detail-bnt"><i class="icon-magnifier-add"></i></a></li>
                                                <li>
                                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-the_content" data-tinvwl_product_id="44">
                                                        <div class="tinv-wishlist-clear"></div><a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after" data-tinv-wl-list="[]" data-tinv-wl-product="44" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="addto"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                        <div class="tinv-wishlist-clear"></div>
                                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="add-to-cart"><a href="?add-to-cart=44" aria-describedby="woocommerce_loop_add_to_cart_link_describedby_44" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="44" data-product_sku="BE45VGRT" aria-label="Add to cart: “Itaque Earum Rerum”" rel="nofollow">Add to cart</a><span id="woocommerce_loop_add_to_cart_link_describedby_44" class="screen-reader-text">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-4 mobile-column-1">
                                <div class="klb-product2 product_box text-center">
                                    <div class="product_img"><a href="http://luyacore.local/bakery/product/expedita-distinctio-rerum/"><img decoding="async" src="http://luyacore.local/bakery/wp-content/uploads/2020/04/furniture_img7.jpg" alt="Expedita Distinctio Rerum"></a>
                                        <div class="product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li>
                                                    <div class="woocommerce product compare-button"><a href="http://luyacore.local/bakery?action=yith-woocompare-add-product&amp;id=70" class="compare button" data-product_id="70" rel="nofollow">Compare</a></div>
                                                </li>
                                                <li><a href="70" class="button detail-bnt"><i class="icon-magnifier-add"></i></a></li>
                                                <li>
                                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-the_content" data-tinvwl_product_id="70">
                                                        <div class="tinv-wishlist-clear"></div><a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after" data-tinv-wl-list="[]" data-tinv-wl-product="70" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="addto"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                        <div class="tinv-wishlist-clear"></div>
                                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_info">
                                        <h6 class="product_title"><a href="http://luyacore.local/bakery/product/expedita-distinctio-rerum/">Expedita Distinctio Rerum</a></h6>
                                        <div class="product_price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>99.00</bdi></span></div>
                                        <div class="rating_wrap">
                                            <div class="star-rating" role="img" aria-label="Rated 3.00 out of 5"><span style="width:60%">Rated <strong class="rating">3.00</strong> out of 5</span></div><span class="rating_num">(1)</span>
                                        </div>
                                        <div class="pr_desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                        </div>
                                        <div class="list_product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a href="?add-to-cart=70" aria-describedby="woocommerce_loop_add_to_cart_link_describedby_70" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="70" data-product_sku="" aria-label="Add to cart: “Expedita Distinctio Rerum”" rel="nofollow">Add to cart</a><span id="woocommerce_loop_add_to_cart_link_describedby_70" class="screen-reader-text">
                                                    </span>
                                                </li>
                                                <li>
                                                    <div class="woocommerce product compare-button"><a href="http://luyacore.local/bakery?action=yith-woocompare-add-product&amp;id=70" class="compare button" data-product_id="70" rel="nofollow">Compare</a></div>
                                                </li>
                                                <li><a href="70" class="button detail-bnt"><i class="icon-magnifier-add"></i></a></li>
                                                <li>
                                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-the_content" data-tinvwl_product_id="70">
                                                        <div class="tinv-wishlist-clear"></div><a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after" data-tinv-wl-list="[]" data-tinv-wl-product="70" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="addto"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                        <div class="tinv-wishlist-clear"></div>
                                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="add-to-cart"><a href="?add-to-cart=70" aria-describedby="woocommerce_loop_add_to_cart_link_describedby_70" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="70" data-product_sku="" aria-label="Add to cart: “Expedita Distinctio Rerum”" rel="nofollow">Add to cart</a><span id="woocommerce_loop_add_to_cart_link_describedby_70" class="screen-reader-text">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-4 mobile-column-1">
                                <div class="klb-product2 product_box text-center">
                                    <div class="product_img"><a href="http://luyacore.local/bakery/product/randomised-humour-words/"><img decoding="async" src="http://luyacore.local/bakery/wp-content/uploads/2020/04/furniture_img6.jpg" alt="Randomised Humour Words"></a>
                                        <div class="product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li>
                                                    <div class="woocommerce product compare-button"><a href="http://luyacore.local/bakery?action=yith-woocompare-add-product&amp;id=73" class="compare button" data-product_id="73" rel="nofollow">Compare</a></div>
                                                </li>
                                                <li><a href="73" class="button detail-bnt"><i class="icon-magnifier-add"></i></a></li>
                                                <li>
                                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-the_content" data-tinvwl_product_id="73">
                                                        <div class="tinv-wishlist-clear"></div><a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after" data-tinv-wl-list="[]" data-tinv-wl-product="73" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="addto"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                        <div class="tinv-wishlist-clear"></div>
                                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_info">
                                        <h6 class="product_title"><a href="http://luyacore.local/bakery/product/randomised-humour-words/">Randomised Humour Words</a></h6>
                                        <div class="product_price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>85.00</bdi></span></del> <span class="screen-reader-text">Original price was: $85.00.</span><ins aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>65.00</bdi></span></ins><span class="screen-reader-text">Current price is: $65.00.</span></div>
                                        <div class="rating_wrap">
                                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div><span class="rating_num">(2)</span>
                                        </div>
                                        <div class="pr_desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                        </div>
                                        <div class="list_product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a href="?add-to-cart=73" aria-describedby="woocommerce_loop_add_to_cart_link_describedby_73" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="73" data-product_sku="KE45VGRT" aria-label="Add to cart: “Randomised Humour Words”" rel="nofollow">Add to cart</a><span id="woocommerce_loop_add_to_cart_link_describedby_73" class="screen-reader-text">
                                                    </span>
                                                </li>
                                                <li>
                                                    <div class="woocommerce product compare-button"><a href="http://luyacore.local/bakery?action=yith-woocompare-add-product&amp;id=73" class="compare button" data-product_id="73" rel="nofollow">Compare</a></div>
                                                </li>
                                                <li><a href="73" class="button detail-bnt"><i class="icon-magnifier-add"></i></a></li>
                                                <li>
                                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-the_content" data-tinvwl_product_id="73">
                                                        <div class="tinv-wishlist-clear"></div><a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after" data-tinv-wl-list="[]" data-tinv-wl-product="73" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="addto"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                        <div class="tinv-wishlist-clear"></div>
                                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="add-to-cart"><a href="?add-to-cart=73" aria-describedby="woocommerce_loop_add_to_cart_link_describedby_73" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="73" data-product_sku="KE45VGRT" aria-label="Add to cart: “Randomised Humour Words”" rel="nofollow">Add to cart</a><span id="woocommerce_loop_add_to_cart_link_describedby_73" class="screen-reader-text">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-4 mobile-column-1">
                                <div class="klb-product2 product_box text-center">
                                    <div class="product_img"><a href="http://luyacore.local/bakery/product/injected-humour-repetition/"><img decoding="async" src="http://luyacore.local/bakery/wp-content/uploads/2020/04/furniture_img5.jpg" alt="Injected Humour Repetition"></a>
                                        <div class="product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li>
                                                    <div class="woocommerce product compare-button"><a href="http://luyacore.local/bakery?action=yith-woocompare-add-product&amp;id=75" class="compare button" data-product_id="75" rel="nofollow">Compare</a></div>
                                                </li>
                                                <li><a href="75" class="button detail-bnt"><i class="icon-magnifier-add"></i></a></li>
                                                <li>
                                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-the_content" data-tinvwl_product_id="75">
                                                        <div class="tinv-wishlist-clear"></div><a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after" data-tinv-wl-list="[]" data-tinv-wl-product="75" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="addto"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                        <div class="tinv-wishlist-clear"></div>
                                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_info">
                                        <h6 class="product_title"><a href="http://luyacore.local/bakery/product/injected-humour-repetition/">Injected Humour Repetition</a></h6>
                                        <div class="product_price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>55.00</bdi></span></del> <span class="screen-reader-text">Original price was: $55.00.</span><ins aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>45.00</bdi></span></ins><span class="screen-reader-text">Current price is: $45.00.</span></div>
                                        <div class="rating_wrap">
                                            <div class="star-rating" role="img" aria-label="Rated 3.00 out of 5"><span style="width:60%">Rated <strong class="rating">3.00</strong> out of 5</span></div><span class="rating_num">(1)</span>
                                        </div>
                                        <div class="pr_desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                        </div>
                                        <div class="list_product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a href="?add-to-cart=75" aria-describedby="woocommerce_loop_add_to_cart_link_describedby_75" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="75" data-product_sku="ZE45VGRT" aria-label="Add to cart: “Injected Humour Repetition”" rel="nofollow">Add to cart</a><span id="woocommerce_loop_add_to_cart_link_describedby_75" class="screen-reader-text">
                                                    </span>
                                                </li>
                                                <li>
                                                    <div class="woocommerce product compare-button"><a href="http://luyacore.local/bakery?action=yith-woocompare-add-product&amp;id=75" class="compare button" data-product_id="75" rel="nofollow">Compare</a></div>
                                                </li>
                                                <li><a href="75" class="button detail-bnt"><i class="icon-magnifier-add"></i></a></li>
                                                <li>
                                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-the_content" data-tinvwl_product_id="75">
                                                        <div class="tinv-wishlist-clear"></div><a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after" data-tinv-wl-list="[]" data-tinv-wl-product="75" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="addto"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                        <div class="tinv-wishlist-clear"></div>
                                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="add-to-cart"><a href="?add-to-cart=75" aria-describedby="woocommerce_loop_add_to_cart_link_describedby_75" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="75" data-product_sku="ZE45VGRT" aria-label="Add to cart: “Injected Humour Repetition”" rel="nofollow">Add to cart</a><span id="woocommerce_loop_add_to_cart_link_describedby_75" class="screen-reader-text">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-4 mobile-column-1">
                                <div class="klb-product2 product_box text-center">
                                    <div class="product_img"><a href="http://luyacore.local/bakery/product/many-desktop-publishing/"><img decoding="async" src="http://luyacore.local/bakery/wp-content/uploads/2020/04/furniture_img4.jpg" alt="Many Desktop Publishing"></a>
                                        <div class="product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li>
                                                    <div class="woocommerce product compare-button"><a href="http://luyacore.local/bakery?action=yith-woocompare-add-product&amp;id=77" class="compare button" data-product_id="77" rel="nofollow">Compare</a></div>
                                                </li>
                                                <li><a href="77" class="button detail-bnt"><i class="icon-magnifier-add"></i></a></li>
                                                <li>
                                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-the_content" data-tinvwl_product_id="77">
                                                        <div class="tinv-wishlist-clear"></div><a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after" data-tinv-wl-list="[]" data-tinv-wl-product="77" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="addto"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                        <div class="tinv-wishlist-clear"></div>
                                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_info">
                                        <h6 class="product_title"><a href="http://luyacore.local/bakery/product/many-desktop-publishing/">Many Desktop Publishing</a></h6>
                                        <div class="product_price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>89.00</bdi></span></del> <span class="screen-reader-text">Original price was: $89.00.</span><ins aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>69.00</bdi></span></ins><span class="screen-reader-text">Current price is: $69.00.</span></div>
                                        <div class="rating_wrap">
                                            <div class="star-rating" role="img" aria-label="Rated 3.00 out of 5"><span style="width:60%">Rated <strong class="rating">3.00</strong> out of 5</span></div><span class="rating_num">(1)</span>
                                        </div>
                                        <div class="pr_desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                        </div>
                                        <div class="list_product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a href="?add-to-cart=77" aria-describedby="woocommerce_loop_add_to_cart_link_describedby_77" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="77" data-product_sku="" aria-label="Add to cart: “Many Desktop Publishing”" rel="nofollow">Add to cart</a><span id="woocommerce_loop_add_to_cart_link_describedby_77" class="screen-reader-text">
                                                    </span>
                                                </li>
                                                <li>
                                                    <div class="woocommerce product compare-button"><a href="http://luyacore.local/bakery?action=yith-woocompare-add-product&amp;id=77" class="compare button" data-product_id="77" rel="nofollow">Compare</a></div>
                                                </li>
                                                <li><a href="77" class="button detail-bnt"><i class="icon-magnifier-add"></i></a></li>
                                                <li>
                                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-the_content" data-tinvwl_product_id="77">
                                                        <div class="tinv-wishlist-clear"></div><a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after" data-tinv-wl-list="[]" data-tinv-wl-product="77" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="addto"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                        <div class="tinv-wishlist-clear"></div>
                                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="add-to-cart"><a href="?add-to-cart=77" aria-describedby="woocommerce_loop_add_to_cart_link_describedby_77" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="77" data-product_sku="" aria-label="Add to cart: “Many Desktop Publishing”" rel="nofollow">Add to cart</a><span id="woocommerce_loop_add_to_cart_link_describedby_77" class="screen-reader-text">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-4 mobile-column-1">
                                <div class="klb-product2 product_box text-center">
                                    <div class="product_img"><a href="http://luyacore.local/bakery/product/internet-tend-to-repeat/"><img decoding="async" src="http://luyacore.local/bakery/wp-content/uploads/2020/04/furniture_img3.jpg" alt="Internet Tend To Repeat"></a>
                                        <div class="product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li>
                                                    <div class="woocommerce product compare-button"><a href="http://luyacore.local/bakery?action=yith-woocompare-add-product&amp;id=79" class="compare button" data-product_id="79" rel="nofollow">Compare</a></div>
                                                </li>
                                                <li><a href="79" class="button detail-bnt"><i class="icon-magnifier-add"></i></a></li>
                                                <li>
                                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-the_content" data-tinvwl_product_id="79">
                                                        <div class="tinv-wishlist-clear"></div><a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after" data-tinv-wl-list="[]" data-tinv-wl-product="79" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="addto"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                        <div class="tinv-wishlist-clear"></div>
                                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_info">
                                        <h6 class="product_title"><a href="http://luyacore.local/bakery/product/internet-tend-to-repeat/">Internet Tend To Repeat</a></h6>
                                        <div class="product_price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>70.00</bdi></span></div>
                                        <div class="rating_wrap">
                                            <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div><span class="rating_num">(1)</span>
                                        </div>
                                        <div class="pr_desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                        </div>
                                        <div class="list_product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a href="?add-to-cart=79" aria-describedby="woocommerce_loop_add_to_cart_link_describedby_79" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="79" data-product_sku="" aria-label="Add to cart: “Internet Tend To Repeat”" rel="nofollow">Add to cart</a><span id="woocommerce_loop_add_to_cart_link_describedby_79" class="screen-reader-text">
                                                    </span>
                                                </li>
                                                <li>
                                                    <div class="woocommerce product compare-button"><a href="http://luyacore.local/bakery?action=yith-woocompare-add-product&amp;id=79" class="compare button" data-product_id="79" rel="nofollow">Compare</a></div>
                                                </li>
                                                <li><a href="79" class="button detail-bnt"><i class="icon-magnifier-add"></i></a></li>
                                                <li>
                                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-the_content" data-tinvwl_product_id="79">
                                                        <div class="tinv-wishlist-clear"></div><a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after" data-tinv-wl-list="[]" data-tinv-wl-product="79" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="addto"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                        <div class="tinv-wishlist-clear"></div>
                                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="add-to-cart"><a href="?add-to-cart=79" aria-describedby="woocommerce_loop_add_to_cart_link_describedby_79" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="79" data-product_sku="" aria-label="Add to cart: “Internet Tend To Repeat”" rel="nofollow">Add to cart</a><span id="woocommerce_loop_add_to_cart_link_describedby_79" class="screen-reader-text">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-4 mobile-column-1">
                                <div class="klb-product2 product_box text-center">
                                    <div class="product_img"><a href="http://luyacore.local/bakery/product/adipisci-officia-libero/"><img decoding="async" src="http://luyacore.local/bakery/wp-content/uploads/2020/04/furniture_img2.jpg" alt="Adipisci Officia Libero"></a>
                                        <div class="product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li>
                                                    <div class="woocommerce product compare-button"><a href="http://luyacore.local/bakery?action=yith-woocompare-add-product&amp;id=80" class="compare button" data-product_id="80" rel="nofollow">Compare</a></div>
                                                </li>
                                                <li><a href="80" class="button detail-bnt"><i class="icon-magnifier-add"></i></a></li>
                                                <li>
                                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-the_content" data-tinvwl_product_id="80">
                                                        <div class="tinv-wishlist-clear"></div><a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after" data-tinv-wl-list="[]" data-tinv-wl-product="80" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="variable" data-tinv-wl-action="addto"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                        <div class="tinv-wishlist-clear"></div>
                                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_info">
                                        <h6 class="product_title"><a href="http://luyacore.local/bakery/product/adipisci-officia-libero/">Adipisci Officia Libero</a></h6>
                                        <div class="product_price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>55.00</bdi></span></div>
                                        <div class="rating_wrap">
                                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div><span class="rating_num">(1)</span>
                                        </div>
                                        <div class="pr_desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                        </div>
                                        <div class="list_product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a href="http://luyacore.local/bakery/product/adipisci-officia-libero/" aria-describedby="woocommerce_loop_add_to_cart_link_describedby_80" data-quantity="1" class="button product_type_variable" data-product_id="80" data-product_sku="SR4JK74" aria-label="Select options for “Adipisci Officia Libero”" rel="nofollow">Select options</a><span id="woocommerce_loop_add_to_cart_link_describedby_80" class="screen-reader-text">
                                                        This product has multiple variants. The options may be chosen on the product page</span>
                                                </li>
                                                <li>
                                                    <div class="woocommerce product compare-button"><a href="http://luyacore.local/bakery?action=yith-woocompare-add-product&amp;id=80" class="compare button" data-product_id="80" rel="nofollow">Compare</a></div>
                                                </li>
                                                <li><a href="80" class="button detail-bnt"><i class="icon-magnifier-add"></i></a></li>
                                                <li>
                                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-the_content" data-tinvwl_product_id="80">
                                                        <div class="tinv-wishlist-clear"></div><a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after" data-tinv-wl-list="[]" data-tinv-wl-product="80" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="variable" data-tinv-wl-action="addto"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                        <div class="tinv-wishlist-clear"></div>
                                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="add-to-cart"><a href="http://luyacore.local/bakery/product/adipisci-officia-libero/" aria-describedby="woocommerce_loop_add_to_cart_link_describedby_80" data-quantity="1" class="button product_type_variable" data-product_id="80" data-product_sku="SR4JK74" aria-label="Select options for “Adipisci Officia Libero”" rel="nofollow">Select options</a><span id="woocommerce_loop_add_to_cart_link_describedby_80" class="screen-reader-text">
                                                This product has multiple variants. The options may be chosen on the product page</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-4 mobile-column-1">
                                <div class="klb-product2 product_box text-center">
                                    <div class="product_img"><a href="http://luyacore.local/bakery/product/enim-expedita-sed/"><img decoding="async" src="http://luyacore.local/bakery/wp-content/uploads/2020/04/furniture_img1.jpg" alt="Enim Expedita Sed"></a>
                                        <div class="product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li>
                                                    <div class="woocommerce product compare-button"><a href="http://luyacore.local/bakery?action=yith-woocompare-add-product&amp;id=82" class="compare button" data-product_id="82" rel="nofollow">Compare</a></div>
                                                </li>
                                                <li><a href="82" class="button detail-bnt"><i class="icon-magnifier-add"></i></a></li>
                                                <li>
                                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-the_content" data-tinvwl_product_id="82">
                                                        <div class="tinv-wishlist-clear"></div><a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after" data-tinv-wl-list="[]" data-tinv-wl-product="82" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="addto"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                        <div class="tinv-wishlist-clear"></div>
                                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_info">
                                        <h6 class="product_title"><a href="http://luyacore.local/bakery/product/enim-expedita-sed/">Enim Expedita Sed</a></h6>
                                        <div class="product_price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>50.00</bdi></span></del> <span class="screen-reader-text">Original price was: $50.00.</span><ins aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>25.00</bdi></span></ins><span class="screen-reader-text">Current price is: $25.00.</span></div>
                                        <div class="rating_wrap">
                                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div><span class="rating_num">(1)</span>
                                        </div>
                                        <div class="pr_desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                        </div>
                                        <div class="list_product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a href="?add-to-cart=82" aria-describedby="woocommerce_loop_add_to_cart_link_describedby_82" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="82" data-product_sku="3KJ69SA" aria-label="Add to cart: “Enim Expedita Sed”" rel="nofollow">Add to cart</a><span id="woocommerce_loop_add_to_cart_link_describedby_82" class="screen-reader-text">
                                                    </span>
                                                </li>
                                                <li>
                                                    <div class="woocommerce product compare-button"><a href="http://luyacore.local/bakery?action=yith-woocompare-add-product&amp;id=82" class="compare button" data-product_id="82" rel="nofollow">Compare</a></div>
                                                </li>
                                                <li><a href="82" class="button detail-bnt"><i class="icon-magnifier-add"></i></a></li>
                                                <li>
                                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-the_content" data-tinvwl_product_id="82">
                                                        <div class="tinv-wishlist-clear"></div><a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-after" data-tinv-wl-list="[]" data-tinv-wl-product="82" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="addto"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span></a>
                                                        <div class="tinv-wishlist-clear"></div>
                                                        <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="add-to-cart"><a href="?add-to-cart=82" aria-describedby="woocommerce_loop_add_to_cart_link_describedby_82" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="82" data-product_sku="3KJ69SA" aria-label="Add to cart: “Enim Expedita Sed”" rel="nofollow">Add to cart</a><span id="woocommerce_loop_add_to_cart_link_describedby_82" class="screen-reader-text">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
