<?php

use luya\helpers\Url;

?>
<div class="elementor-section elementor-top-section elementor-element elementor-element-943a977 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="943a977" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-556b545" data-id="556b545" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-47b3470 elementor-widget elementor-widget-shopwise-image-carousel" data-id="47b3470" data-element_type="widget" data-widget_type="shopwise-image-carousel.default">
                    <div class="elementor-widget-container">
                        <div class="klb-section">
                            <div class="container-fluid p-0">
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <div class="follow_box"><i class="ti-instagram"></i>
                                            <h3>instagram</h3><span>@shoppingzone</span>
                                        </div>
                                        <div class="client_logo carousel_slider owl-carousel owl-theme owl-loaded owl-drag" data-dots="false" data-margin="0" data-loop="true" data-autoplay="true" data-responsive="{&quot;0&quot;:{&quot;items&quot;: &quot;2&quot;}, &quot;480&quot;:{&quot;items&quot;: &quot;3&quot;}, &quot;767&quot;:{&quot;items&quot;: &quot;4&quot;}, &quot;991&quot;:{&quot;items&quot;: &quot;6&quot;}}">
                                            <div class="owl-stage-outer">
                                                <div class="owl-stage" style="transform: translate3d(-1466px, 0px, 0px); transition: 0.25s; width: 3771px;">
                                                    <div class="owl-item cloned" style="width: 209.445px;">
                                                        <div class="item">
                                                            <div class="instafeed_box"><img decoding="async" src="<?= Url::to('assets/images/bakery_insta1.jpg'); ?>" alt="cl_logo"></div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item cloned" style="width: 209.445px;">
                                                        <div class="item">
                                                            <div class="instafeed_box"><img decoding="async" src="<?= Url::to('assets/images/bakery_insta2.jpg'); ?>" alt="cl_logo"></div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item cloned" style="width: 209.445px;">
                                                        <div class="item">
                                                            <div class="instafeed_box"><img decoding="async" src="<?= Url::to('assets/images/bakery_insta3.jpg'); ?>" alt="cl_logo"></div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item cloned" style="width: 209.445px;">
                                                        <div class="item">
                                                            <div class="instafeed_box"><img decoding="async" src="<?= Url::to('assets/images/bakery_insta4.jpg'); ?>" alt="cl_logo"></div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item cloned" style="width: 209.445px;">
                                                        <div class="item">
                                                            <div class="instafeed_box"><img decoding="async" src="<?= Url::to('assets/images/bakery_insta5.jpg'); ?>" alt="cl_logo"></div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item cloned" style="width: 209.445px;">
                                                        <div class="item">
                                                            <div class="instafeed_box"><img decoding="async" src="<?= Url::to('assets/images/bakery_insta1.jpg'); ?>" alt="cl_logo"></div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item" style="width: 209.445px;">
                                                        <div class="item">
                                                            <div class="instafeed_box"><img decoding="async" src="<?= Url::to('assets/images/bakery_insta1.jpg'); ?>" alt="cl_logo"></div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item active" style="width: 209.445px;">
                                                        <div class="item">
                                                            <div class="instafeed_box"><img decoding="async" src="<?= Url::to('assets/images/bakery_insta1.jpg'); ?>" alt="cl_logo"></div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item active" style="width: 209.445px;">
                                                        <div class="item">
                                                            <div class="instafeed_box"><img decoding="async" src="<?= Url::to('assets/images/bakery_insta1.jpg'); ?>" alt="cl_logo"></div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item active" style="width: 209.445px;">
                                                        <div class="item">
                                                            <div class="instafeed_box"><img decoding="async" src="<?= Url::to('assets/images/bakery_insta1.jpg'); ?>" alt="cl_logo"></div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item active" style="width: 209.445px;">
                                                        <div class="item">
                                                            <div class="instafeed_box"><img decoding="async" src="<?= Url::to('assets/images/bakery_insta1.jpg'); ?>" alt="cl_logo"></div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item active" style="width: 209.445px;">
                                                        <div class="item">
                                                            <div class="instafeed_box"><img decoding="async" src="<?= Url::to('assets/images/bakery_insta1.jpg'); ?>" alt="cl_logo"></div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item cloned active" style="width: 209.445px;">
                                                        <div class="item">
                                                            <div class="instafeed_box"><img decoding="async" src="<?= Url::to('assets/images/bakery_insta1.jpg'); ?>" alt="cl_logo"></div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item cloned" style="width: 209.445px;">
                                                        <div class="item">
                                                            <div class="instafeed_box"><img decoding="async" src="<?= Url::to('assets/images/bakery_insta1.jpg'); ?>" alt="cl_logo"></div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item cloned" style="width: 209.445px;">
                                                        <div class="item">
                                                            <div class="instafeed_box"><img decoding="async" src="<?= Url::to('assets/images/bakery_insta1.jpg'); ?>" alt="cl_logo"></div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item cloned" style="width: 209.445px;">
                                                        <div class="item">
                                                            <div class="instafeed_box"><img decoding="async" src="<?= Url::to('assets/images/bakery_insta1.jpg'); ?>" alt="cl_logo"></div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item cloned" style="width: 209.445px;">
                                                        <div class="item">
                                                            <div class="instafeed_box"><img decoding="async" src="<?= Url::to('assets/images/bakery_insta1.jpg'); ?>" alt="cl_logo"></div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item cloned" style="width: 209.445px;">
                                                        <div class="item">
                                                            <div class="instafeed_box"><img decoding="async" src="<?= Url::to('assets/images/bakery_insta1.jpg'); ?>" alt="cl_logo"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="owl-nav disabled">
                                                <div class="owl-prev"><i class="ion-ios-arrow-left"></i></div>
                                                <div class="owl-next"><i class="ion-ios-arrow-right"></i></div>
                                            </div>
                                            <div class="owl-dots disabled"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>