@use "../customStyling" as *;
@use "../components/mixins" as *;
.navbar-custom {
@include colorChanger;
padding: 1rem 0;
.logo {
 font-size: 1.7rem;
}



li {
 padding:0 1rem;

 a {
  color:$white !important;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.2rem;
 }
}
}