doctype html
html
    include ./includes/head.jade
    body(data-spy="scroll", data-target="#navbar-example")
        include ./includes/header.jade
        #top

        .b-jumbotron
            .container
                .row
                    .col-xs-6
                        .clearfix
                            a.b-jumbotron__logo.pull-left(href='#'): img(src='assets/img/logo.png', alt='')
                            .b-jumbotron__lead.pull-left Тендерное#[br]сопровождение#[br]под ключ

                        p.b-jumbotron__title Свой тендерный#[br]отдел всего
                        p.b-jumbotron__description за #[span.b-jumbotron__price 12 000] рублей/в месяц#[br](участие в торгах по 44-ФЗ и 223-ФЗ)

                        a.btn.btn-default.btn-lg.b-jumbotron__button.fancybox(href='#modal_form') Консультация специалиста
                    .col-xs-6
                        .text-right
                            span.b-jumbotron__phone 8 (343) 987-65-43
                            br
                            a.b-jumbotron__callback.fancybox(href='#modal_form') Заказать консультацию

                            .b-jumbotron-name
                                span.b-jumbotron-name__name Крохалев Сергей
                                br
                                span.b-jumbotron-name__description Руководитель направления

        .b-features#features
            .b-features__bg
            .container
                h2.b-features__header Что такое #[b тендерное] сопровождение?

                .row
                    .col-xs-6.col-xs-offset-6
                        ul.b-features__list
                            li.b-features__item Прохождение аккредитации на 5 федеральных торговых площадках
                            li.b-features__item Подбор закупок по видам деятельности
                            li.b-features__item Анализ заказчиков и закупочных процедур
                            li.b-features__item Подготовка и подача заявок
                            li.b-features__item Участие в аукционах
                            li.b-features__item Подписание контракта
                            li.b-features__item Подача запросов на разъяснение аукционной документации (при необходимости)
                            li.b-features__item Подача протоколов разногласий к контракту (при необходимости)
                            li.b-features__item Составление жалоб ФАС (при необходимости)


        .b-feedback-mini
            .container
                h2.b-feedback-mini__title Оставьте заявку
                p.b-feedback-mini__description Получите #[b бесплатную] консультацию тендерного специалиста

                form.b-feedback-mini__form
                    .form-group
                        label.sr-only Введите номер телефона:
                        .input-group.input-group-lg
                            input.form-control(type="text", placeholder="+7 (___) ___-__-__")
                            span.input-group-btn
                                button.btn.btn-success.b-feedback-mini__button(type="submit") Жду звонка
                span.help-block.b-feedback-mini__hint Мы перезвоним вам в ближайшее время и ответим на все ваши вопросы.#[br]Ваши контактные данные не будут переданны третьим лицам.

        .b-advantages#advantages
            .container
                h2.b-advantages__header #[b Преимущества] работы с нами

                .b-advantages__list
                    .b-advantages__item
                        .b-advantages__icon
                            .b-advantages__image.b-advantages__image_1
                        p.b-advantages__title Высокий процент выигранных тендеров
                    .b-advantages__item
                        .b-advantages__icon
                            .b-advantages__image.b-advantages__image_2
                        p.b-advantages__title Сотрудничать с нами выгодней, чем нанимать сотрудника в штат
                    .b-advantages__item
                        .b-advantages__icon
                            .b-advantages__image.b-advantages__image_3
                        p.b-advantages__title Команда профессионалов работает на вас
                    .b-advantages__item
                        .b-advantages__icon
                            .b-advantages__image.b-advantages__image_4
                        p.b-advantages__title Защита ваших интересов в ФАС
                    .b-advantages__item.b-advantages__item_padding_5
                        .b-advantages__icon
                            .b-advantages__image.b-advantages__image_5
                        p.b-advantages__title Быстрая подготовка заявок и увеличение результативности участия
                    .b-advantages__item
                        .b-advantages__icon
                            .b-advantages__image.b-advantages__image_6
                        p.b-advantages__title Экономия на создании или расширении собственного отдела
                    .b-advantages__item.b-advantages__item_padding_0
                        .b-advantages__icon
                            .b-advantages__image.b-advantages__image_7
                        p.b-advantages__title Отсутствие необходимости разбираться в документах и изменениях законодательства

        .b-feedback-medium#feedback_medium
            .container
                h2.b-feedback-medium__title Узнайте объем торгов в вашей отрасли#[br]#[b совершено бесплатно]

                .row
                    .col-xs-6
                        p.b-feedback-medium__check Количество тендеров в вашей отрасли
                    .col-xs-6
                        p.b-feedback-medium__check Результаты выигрыша прошлых тендеров
                .b-feedback-medium__form
                    form
                        p.b-feedback-medium__lead Оставьте заявку на бесплатный аудит вашей#[br]отрасли и узнайте стоит ли вам участвовать в тендерах

                        .row
                            .col-xs-6
                                .form-group
                                    label.sr-only Ваше имя
                                    input.form-control(type="text", placeholder="Ваше имя")
                            .col-xs-6
                                .form-group
                                    label.sr-only Ваш номер телефона
                                    input.form-control(type="text", placeholder="+7 (___) ___-__-__")

                        button.btn.btn-success.btn-lg.b-feedback-medium__button(type="submit") Получить бесплатный аудит

                        span.help-block.b-feedback-medium__hint Наш специалист свяжется с Вами для уточнения суммы и срока контракта

        .b-catalog#catalog
            .container
                h2.b-catalog__header #[b Тарифы] на тендерное сопровождение

                .b-catalog__list
                    .row
                        .col-xs-4
                            .b-catalog__item.b-catalog__item_1
                                p.b-catalog__title Пробный

                                ul.b-catalog__features
                                    li.b-catalog__feature Помощь в получение ЭЦП
                                    li.b-catalog__feature Аккредитация на 5 площадках
                                    li.b-catalog__feature Подготовка и подача 3 заявок + 1% от выигрыша
                                p.b-catalog__price #[b 6 000] рублей

                                a.btn.b-catalog__button.fancybox(href='#modal_form') Консультация по тарифу
                        .col-xs-4
                            .b-catalog__item.b-catalog__item_2
                                p.b-catalog__title Базовый

                                ul.b-catalog__features
                                    li.b-catalog__feature Помощь в получение ЭЦП
                                    li.b-catalog__feature Аккредитация на 5 площадках
                                    li.b-catalog__feature Подготовка и подача 10 заявок + 1% от выигрыша
                                p.b-catalog__price #[b 12 000] рублей

                                a.btn.b-catalog__button.fancybox(href='#modal_form') Консультация по тарифу
                        .col-xs-4
                            .b-catalog__item.b-catalog__item_3
                                p.b-catalog__title Безлимит

                                ul.b-catalog__features
                                    li.b-catalog__feature Помощь в получение ЭЦП
                                    li.b-catalog__feature Аккредитация на 5 площадках
                                    li.b-catalog__feature Подготовка и подача неограниченого числа заявок +1% от выигрыша
                                p.b-catalog__price #[b 25 000] рублей

                                a.btn.b-catalog__button.fancybox(href='#modal_form') Консультация по тарифу
        .b-services#services
            .container
                h2.b-services__header #[b Разовые] услуги

                .b-services__list
                    .row
                        .col-xs-3
                            .b-services__item
                                p.b-services__title Подготовка#[br]ЭЦП

                                p.b-services__price #[b 6 000] рублей
                                p.b-services__comment (срок 1 рабочий день)

                                a.btn.b-services__button.fancybox(href='#modal_form') Заказать
                        .col-xs-3
                            .b-services__item
                                p.b-services__title Аккредитация#[br]на 5 федеральных#[br]торговых площадках

                                p.b-services__price #[b 5 000] рублей
                                p.b-services__comment (срок 1 рабочий день)

                                a.btn.b-services__button.fancybox(href='#modal_form') Заказать
                        .col-xs-3
                            .b-services__item
                                p.b-services__title Подготовка#[br]заявки

                                p.b-services__price от #[b 2 000] рублей
                                p.b-services__comment (срок - от 1 дня в зависимо-#[br]сти от объёмов и сложности#[br]технического задания)

                                a.btn.b-services__button.fancybox(href='#modal_form') Заказать
                        .col-xs-3
                            .b-services__item
                                p.b-services__title Подготовка#[br]жалобы в ФАС

                                p.b-services__price #[b 3 000] рублей
                                p.b-services__comment

                                a.btn.b-services__button.fancybox(href='#modal_form') Заказать

                a.btn.b-services__cta.fancybox(href='#modal_form') Консультация по тарифу

        .b-steps#steps
            .container
                h2.b-steps__header Как мы работаем #[b 6 шагов] до победы

                .b-steps__list
                    .b-steps__item.b-steps__item_1 Начало работы (выпуск ЭЦП и аккредитация на площадках
                    .b-steps__item.b-steps__item_2 Мониторинг тендеров
                    .b-steps__item.b-steps__item_3 Подбор тендеров
                    .b-steps__item.b-steps__item_4 Подготовка#[br]и подача заявки
                    .b-steps__item.b-steps__item_5 Участие, выигрыш
                    .b-steps__item.b-steps__item_6 Подписание#[br]договора
                a.btn.b-steps__button.fancybox(href='#modal_form') Получить консультацию

        .b-team#team
            .container
                h2.b-team__header Наша команда

                .b-team__list
                    .b-team__item
                        img.b-team__image(src='assets/img/team/1.png')

                        p.b-team__name Крохалев Сергей
                        p.b-team__post Руководитель направления

                        .b-team__text
                            p Любые учреждения, компании, организации нуждается в руководителях, то есть, в людях, которые будут управлять производственным процессом, организовывать работу персонала, принимать решения и брать на себя ответственность.
                    .b-team__item
                        img.b-team__image(src='assets/img/team/2.png')

                        p.b-team__name Мария Гусева
                        p.b-team__post Руководитель направления

                        .b-team__text
                            p Любые учреждения, компании, организации нуждается в руководителях, то есть, в людях, которые будут управлять производственным процессом, организовывать работу персонала, принимать решения и брать на себя ответственность.
                    .b-team__item
                        img.b-team__image(src='assets/img/team/3.png')

                        p.b-team__name Крохалев Сергей
                        p.b-team__post Руководитель направления

                        .b-team__text
                            p Любые учреждения, компании, организации нуждается в руководителях, то есть, в людях, которые будут управлять производственным процессом, организовывать работу персонала, принимать решения и брать на себя ответственность.
                    .b-team__item
                        img.b-team__image(src='assets/img/team/4.png')

                        p.b-team__name Крохалев Сергей
                        p.b-team__post Руководитель направления

                        .b-team__text
                            p Любые учреждения, компании, организации нуждается в руководителях, то есть, в людях, которые будут управлять производственным процессом, организовывать работу персонала, принимать решения и брать на себя ответственность.

        .b-map
            #map
            script(type='text/javascript',src='http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU')
            script(type='text/javascript').
                var myMap;

                ymaps.ready(function () {
                    myMap = new ymaps.Map("map", {
                        center: [56.831385, 60.724580],
                        zoom: 12
                    });

                    // Создание экземпляра элемента управления
                    myMap.controls.add(new ymaps.control.ZoomControl());
                    myMap.controls.add(new ymaps.control.ScaleLine());
                    //myMap.behaviors.disable(['drag', 'rightMouseButtonMagnifier']);


                    // Создаем метку с изображением коалы
                    myPlacemark = new ymaps.Placemark([56.831385, 60.724580], {
                        // Контент балуна
                        balloonContent: "<p class='b-map__phone'>+7 912 678 90 12</p><p class='b-map__text'>620000 г. Екатеринбург,<br>Июльская, д 8, офис 343 <br><a href='mailto:mail@mail.ru'>mail@mail.ru</a></p>"
                    }, {
                        balloonContentSize: [358 - 66 * 2, 259 - 47 * 2],
                        // Задаем макет балуна - пользовательская картинка с контентом
                        balloonLayout: "default#imageWithContent",
                        // Картинка балуна
                        balloonImageHref: 'assets/img/balloon-bg.png',
                        // Смещение картинки балуна
                        balloonImageOffset: [0, -127],
                        // Размеры картинки балуна
                        balloonImageSize: [358, 259],
                        balloonContentOffset: [66, 47],
                        // Балун не имеет тени
                        balloonShadow: false,
                        closeButton: false
                    });

                    // Добавляем метку на карту
                    myMap.geoObjects.add(myPlacemark);

                    myPlacemark.balloon.open();
                });

        include ./includes/footer.jade
