.dropdown-menu.show {
    -webkit-animation: fadeIn 0.3s alternate;
    /* Safari 4.0 - 8.0 */
    animation: fadeIn 0.3s alternate;
  }
  
  .nav-item.dropdown.dropdown-mega {
    position: static;
  }
  .nav-item.dropdown.dropdown-mega .dropdown-menu {
    background-color:#eef1c2;
    width: 90%;
    top: auto;
    left: 5%;
    z-index:2555;
  }
  .nav-item.dropdown.dropdown-mega .dropdown-toggle::after{
    content:"\ea4f";
    font-family:remixicon;
    font-size:16px
  }