.hidden
    .b-modal-form#modal_form
        .b-modal-form__header
            p.b-modal-form__title Оставьте заявку на бесплатный аудит вашей отрасли и узнайте стоит ли вам участвовать в тендерах

        form
            .b-modal-form__form
                div.form-group
                    label.sr-only Ваше имя*
                    input.form-control(placeholder='Ваше имя*')
                div.form-group
                    label.sr-only Ваш номер телефона*
                    input.form-control(placeholder='Ваш номер телефона*')

            button.btn.btn-success.btn-lg.btn-block.b-modal-form__button(type="submit") Получить бесплатный аудит

            span.b-modal-form__hint Наш специалист свяжется с Вами для уточнения суммы и срока контракта
