@use "../customStyling" as *;
@use "../components/mixins" as *;
.contact {
 @include colorChanger;
 padding: 3rem 0 6rem 0;;
 color:$white;
width:100%;
margin: 0 auto;



input[type="text"]{
 padding:1.5rem;
}
input[type="email"]{
 padding:1.5rem;
}

.btn {
 background-color: $white;
 padding:1.2rem 5rem;
 margin-top: 1rem;
 display:inline-block;
 margin-left: auto;
 margin-right: auto;
 font-size: 1.2rem;
 
 &:hover {
  background: $secondary;
  color:$white;
 }
}

}