
$bs-body-bg: #445450;
/*
$offcanvas-horizontal-width: 100% !default;

$hamburger-size:                            90px;
$hamburger-thickness:                       5px;
$hamburger-color:                           $light;
$hamburger-background-transition-speed:     0.2s;
$hamburger-opacity-transition-speed:        0.2s;
$hamburger-padding:                         20px;
$hamburger-border-radius:                   0;
$hamburger-bar-border-radius:               0;
$hamburger-bar-spacing:                     15px;
$hamburger-animation-speed:                 1;
$hamburger-class-name:                      'hamburger';
$hamburger-active-class-name:               'active';
*/